/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import url("//fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

html
  font-family 'Roboto Slab', serif

html, body
  100%

body
  font-size 1.25em

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px
  img
    &.pull-right
      width 50px

color-pri0 = #FF9400
color-pri1 = #FFB34B
color-pri2 = #FF9E18
color-pri3 = #D37A00
color-pri4 = #A45F00
color-pri5 = #8E4D00

color-sec1-0 = #FFC000
color-sec1-1 = #FFD34B
color-sec1-2 = #FFC618
color-sec1-3 = #D39F00
color-sec1-4 = #A47C00

color-sec2-0 = #FF4C00
color-sec2-1 = #FF814B
color-sec2-2 = #FF5D18
color-sec2-3 = #D33F00
color-sec2-4 = #A43100

white = #ffffea

.color-pri0 { color: color-pri0 }	/* Main Primary color */
.color-pri1 { color: color-pri1 }
.color-pri2 { color: color-pri2 }
.color-pri3 { color: color-pri3 }
.color-pri4 { color: color-pri4}

.color-sec1-0 { color: color-sec1-0 }	/* Main Secondary color (1) */
.color-sec1-1 { color: color-sec1-1 }
.color-sec1-2 { color: color-sec1-2 }
.color-sec1-3 { color: color-sec1-3 }
.color-sec1-4 { color: color-sec1-4 }

.color-sec2-0 { color: color-sec2-0 }	/* Main Secondary color (2) */
.color-sec2-1 { color: color-sec2-1 }
.color-sec2-2 { color: color-sec2-2 }
.color-sec2-3 { color: color-sec2-3 }
.color-sec2-4 { color: color-sec2-4 }

md-toolbar
  &.md-default-theme
    background-color color-pri4

md-content
  .background
    background-image url("/assets/images/palju/IMG-20150803-WA0000 copy.jpg")
    background-size cover
    background-repeat no-repeat
    background-position center
    color white
    text-shadow 2px 1px color-pri4
    text-align center

.md-toolbar-tools
  .primary
    font-style bold
    font-size 1.25em
  a
    color color-sec1-1

.hero
  min-height 800px
  font-size 1.5em
  h1
    font-size 5em
    text-align center
    color color-sec1-2
    padding-bottom 0.4em

h2
  color color-pri4

h3
  color color-pri5
  padding-left 1em

.content
  padding-left 2em

.price
  color color-sec2-4
  font-weight bold

.ng-scope
  height 100%

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
