/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import url("//fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

html
  font-family 'Roboto Slab', serif

html, body
  100%

body
  font-size 1.25em

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px
  img
    &.pull-right
      width 50px

color-pri0 = #2F50CB
color-pri1 = #778DE0
color-pri2 = #506CD4
color-pri3 = #1036C1
color-pri4 = #0C288B

color-sec1-0 = #ECECEC
color-sec1-1 = #FFFFFF
color-sec1-2 = #D1D1D1
color-sec1-3 = #B0B0B0
color-sec1-4 = #838282

red = #df0a0a

white = #ffffea

.color-pri0 { color: color-pri0 }	/* Main Primary color */
.color-pri1 { color: color-pri1 }
.color-pri2 { color: color-pri2 }
.color-pri3 { color: color-pri3 }
.color-pri4 { color: color-pri4}

.color-sec1-0 { color: color-sec1-0 }	/* Main Secondary color (1) */
.color-sec1-1 { color: color-sec1-1 }
.color-sec1-2 { color: color-sec1-2 }
.color-sec1-3 { color: color-sec1-3 }
.color-sec1-4 { color: color-sec1-4 }

md-toolbar
  &.md-default-theme
    background-color color-pri4

md-content
  background-color color-sec1-1

md-content
  .background
    background-image url("/assets/images/background-b.jpg")
    background-size cover
    background-repeat no-repeat
    background-position center
    text-align center
    height 91vh

.md-toolbar-tools
  a
    color color-sec1-1
  .primary
    font-style bold
    font-size 1.25em

.md-open-menu-container
  a
    color color-sec1-3

.hero
  min-height 800px
  font-size 2em
  h1
    font-size 4em
    text-align center
    text-shadow 2px 1px color-sec1-3
    color color-sec1-0
    padding-bottom 0.4em
  p
    text-shadow 2px 1px color-pri2
    color white

.herosmall
  min-height 800px
  font-size 1.3em
  h1
    font-size 2em
    text-align center
    text-shadow 2px 1px color-sec1-3
    color color-sec1-0
    margin-top 0
    margin-bottom 0.5em
  p
    text-shadow 2px 1px color-pri2
    color white

h2
  color color-pri4

h3
  color color-pri5
  padding-left 1em

.buff
  font-size 1.5em
  color white
  background-color color-pri4
  padding 0.4em

.address
  padding-left 2em
  font-size 1em

.content
  padding-left 2em

.price
  color red
  font-weight bold

.phone-md
  .phone
    md-icon
      margin-left 0.75em
      padding-bottom 0.50em
    div
      h4, p
        margin-top 0
        margin-bottom 0

.numbers-sm
  .phone
    a
      p
        margin-top 0.75em
        padding-left 1.25em
        float right

.map
  width 670px

.ng-scope
  height 100%

.gallery
  max-width 700px

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
